<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercicios PLN - Prof. Me Claudio Paiva</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div class="page-container">
      <div class="page-header">
        <h3 class="page-header-title">
          :) Tokentização com Python utilizando a biblioteca NLPK
        </h3>
      </div>

      <hr class="page-horinzontal-line" />

      <div class="page-body">
        <div class="page-body-entry-text-container">
          <p>Texto de entrada</p>
          <textarea></textarea>
        </div>
        <div class="page-body-options-container">
          <div class="page-body-token-types-container">
            <input type="radio">alo</input type="radio">
            <input type="radio">alo</input type="radio">
            <input type="radio">alo</input type="radio">
            <input type="radio">alo</input type="radio">
            <input type="radio">alo</input type="radio">
          </div>
          <div class="page-body-results-container">
            <textarea name="" id="" cols="30" rows="10"></textarea>
          </div>
          <div class="page-body-frequency-container">
            <textarea></textarea>
            <div class="page-body-frequency-buttons-container">
              <button>Processar</button>
              <button>Limpar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
